{% extends "base.html" %}
{% block title %}Edit User{% endblock %}
{% block content %}

<div class="container-box">
    <h2>Edit User</h2>

    <form method="POST" action="/update_user" class="mt-4">
        
	<input type="hidden" name="old_username" value="{{ user[0] }}">

        <div class="mb-3">
            <label>Username</label>
            <input type="text" name="username" class="form-control" value="{{ user[0] }}" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" value="{{ user[1] }}">
        </div>

        <div class="mb-3">
            <label>Role</label>
            <select name="role_id" class="form-select">
                <option value="1" {% if user[2] == 1 %}selected{% endif %}>Admin</option>
                <option value="2" {% if user[2] == 2 %}selected{% endif %}>Manager</option>
                <option value="3" {% if user[2] == 3 %}selected{% endif %}>Staff</option>
                <option value="4" {% if user[2] == 4 %}selected{% endif %}>User</option>
            </select>
        </div>
		<div class="mb-3">
            <label>Password</label>
            <input type="text" name="password" class="form-control" value="{{ user[4] }}">
        </div>
        <button class="btn btn-primary" type="submit">Update User</button>
        <a href="/users" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
